<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="common" style="display: none">
        <link th:href="@{/webjars/jquery-ui/jquery-ui.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/jqgrid/css/ui.jqgrid.css}" rel="stylesheet"/>

        <script th:src="@{/webjars/jqgrid/js/minified/jquery.jqGrid.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/jquery-ui.js}"></script>
        <script th:src="@{/webjars/jqgrid/js/i18n/grid.locale-cn.js}"></script>
    </head>
</html>